        <section id="four" class="wrapper alt style1">
    <div class="inner">
        <h2 class="major">Recent Activities</h2>
        <section class="features">
            <article>
                <a class="image"><img src="static/images/conference.webp" loading="lazy" alt="ICT-CEEL Conference" /></a>
                <h3 class="major">Presenting at ICT-CEEL 2023</h3>
                <p>Presented our paper, “Automation of Driving License Test Using Computer Vision and Image Processing,” at the International Conference on Technologies for Computer, Electrical, Electronics & Communication (ICT-CEEL 2023), held by Khwopa Engineering College and IEEE PES from October 11–13, 2023. Received the Best Paper Award for this work.</p>
            </article>
            <article>
                <a class="image"><img src="static/images/hackathon.webp" loading="lazy" alt="All Nepal Hackathon Winner" /></a>
                <h3 class="major">Winning All Nepal Hackathon 2023</h3>
                <p>Led Vision Architects in a three-day All Nepal Hackathon in the e-Governance category. Our project automated the driving license test for four-wheelers using computer vision, enhancing efficiency for Nepal’s Department of Transport. Secured first place in the competition.</p>
            </article>

            <article>
                <a class="image" href="https://www.youtube.com/watch?v=6BYRCFqEbyg"><img src="static/images/IMG_0020.jpg" loading="lazy" alt="Kantipur TV Interview" /></a>
                <h3 class="major">National TV Interview on Kantipur Television</h3>
                <p>Featured on Kantipur Television as team leader of Vision Architects after winning the All Nepal Hackathon 2023. Discussed our e-Governance project automating driving license tests with computer vision, highlighting its impact and innovation.</p>
                <a href="https://www.youtube.com/watch?v=6BYRCFqEbyg" target="_blank" class="special">Watch on YouTube</a>
            </article>
        </section>
    </div>
</section>