        <section id="four" class="wrapper alt style1">
    <div class="inner">
        <h2 class="major">Projects</h2>
        <section class="features">

            <article>
                <a class="image"><img src="static/images/uturn.webp" loading="lazy" alt="YOLOv5 Object Detection" /></a>
                <h3 class="major">Car and Sidelight Detection with YOLOv5</h3>
                <p>Developed a custom YOLOv5 model for real-time detection of cars and sidelights, achieving 95% mAP. Integrated into the CarSight prototype for automated driving test evaluation.</p>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/google_play_store_analysis.webp" loading="lazy" alt="Google Play Store Analysis" /></a>
                <h3 class="major">Google Play Store App Analysis</h3>
                <p>Analyzed a dataset of Google Play Store apps using Python, Pandas, and visualization libraries (Matplotlib, Seaborn) to uncover trends in app performance and user ratings.</p>
                <a href="https://github.com/Prashanna-Raj-Pandit/Analysis-of-dataset-of-Nobel-Prize-Winners" target="_blank" class="special">View on GitHub</a>
            </article>
            <article>
                <a class="image"><img src="static/images/recent_work/fb_website.webp" loading="lazy" alt="FootBalance Nepal Website" /></a>
                <h3 class="major">Website Development: FootBalance Nepal</h3>
                <p>Designed and deployed a dynamic website for FootBalance Nepal using Flask and Jinja templating, hosted on Render. Integrated responsive design and modern UI/UX principles.</p>
                <a href="https://footbalancenepal.onrender.com/" target="_blank" class="special">Visit Site</a>
                <a href="https://github.com/Prashanna-Raj-Pandit/FootBalance-Nepal" target="_blank" class="special">View on GitHub</a>
            </article>
        </section>
        <ul class="actions">
            <li><a href="{{url_for('all_recent_work')}}" class="button">Browse All Projects</a></li>
        </ul>
    </div>
</section>